<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @recipient.name %></h1>
    <p>You have received message from user <%= @sender.name %>. This is the following message:</p>
    <p><%= @message %></p>
    <p>
        You can reply by clicking <%= content_tag(:a, "this link", href: "mailto:#{@sender.email}") %>.
    </p>
  </body>
</html>
