<% if invitations.any? %>
    <ul>
    <% invitations.each do |invitation| %>
        <li>
            <%= link_to("#{User.find_by(id: invitation.user_id).name} | Sent: #{invitation.updated_at} | Accepted: #{invitation.accepted}", user_path(invitation.user_id)) %>
            <div class="event-confirm-buttons">
            </div>
        </li>
    <% end %>
    </ul>
<% else %>
    <p>You haven't rejected any invitations yet.</p>
<% end %>
