<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#events-future" aria-controls="events-future" role="tab" data-toggle="tab">Organizing</a></li>
    <li role="presentation"><a href="#events-past" aria-controls="events-past" role="tab" data-toggle="tab">Organized</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="events-future">
          <% if events[:scheduled].any? %>
                <% events[:scheduled].each do |event| %>
                <ul>
                    <%= content_tag(:li, link_to(event.name, user_event_path(event.user_id, event.id))) %>
                </ul>
                <% end %>
            <% end %>
      </div>

      <div role="tabpanel" class="tab-pane" id="events-past">
          <% if events[:past].any? %>
                <% events[:past].each do |event| %>
                <ul>
                    <%= content_tag(:li, link_to(event.name, user_event_path(event.user_id, event.id))) %>
                </ul>
                <% end %>
            <% end %>
      </div>
  </div>
</div> 
