<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#events-future" aria-controls="events-future" role="tab" data-toggle="tab">Organizing</a></li>
    <li role="presentation"><a href="#events-past" aria-controls="events-past" role="tab" data-toggle="tab">Organized</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="events-future">
          <% if events[:scheduled].any? %>
              <dl class="events-tab dl-horizontal">
                    <% events[:scheduled].each do |event| %>
                        <%= content_tag(:dt, link_to(event.name, user_event_path(event.user_id, event.id))) %>
                    <%= content_tag(:dd, event.start_time.strftime("%d. %m. %Y %H:%M")) %>
                    <% end %>
              </dl>
            <% end %>
      </div>

      <div role="tabpanel" class="tab-pane" id="events-past">
          <% if events[:past].any? %>
              <dl class="events-tab dl-horizontal">
                    <% events[:past].each do |event| %>
                        <%= content_tag(:dt, link_to(event.name, user_event_path(event.user_id, event.id))) %>
                        <%= content_tag(:dd, event.end_time.strftime("%d. %m. %Y %H:%M")) %>
                    <% end %>
            </dl>
        <% end %>
      </div>
  </div>
</div> 
