<div class="social-panel">
    <% if user_signed_in? && !can_edit?(user) %>
        <a href="#" data-toggle="modal" data-target="#myModal" class="icon">
            <span class="glyphicon glyphicon-envelope icon">
            </span>
        </a>
    <% end %>
</div>
