<link href="https://file.myfontastic.com/u3LCqTskoUbTiocwo2RxuL/icons.css" rel="stylesheet">
<div class="social-panel">
    <% if user_signed_in? && !can_edit?(user) %>
        <a href="#" data-toggle="modal" data-target="#myModal" class="icon">
            <span class="icon-envelope-o icon">
            </span>
        </a>
    <% end %>
</div>
