<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3><%= @location.place_name %></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <%= render "venues/venue_details", location: @location %>
        </div>
        <div class="col-md-6">
            <% if @location.events.any? %>
                <h4><%= I18n.t :events %></h4>
                <%= render "events/event_location_list", upcoming_events: @upcoming_events, past_events: @past_events %>
            <% end %>
        </div>
    </div>
</div>
