// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand-primary: #3ab795;

#search-bar {
    margin: 20px 0px;
}

.index-search {
    width: 70%;
    border: 1px solid $brand-primary;
    padding: 5px;
    font-size: 25px;
}

.search {
    padding: 5px 15px 5px 5px;
    margin-left: -4px;
    background-color: $brand-primary;
    border: none;

    span.icon {
        padding-left: 10px;
        color: white;
        font-size: 185%;

    }

    &:hover {
        background-color: darken($brand-primary, 20%);
        
        span.icon {
            color: black;
        }
    }
}

#search-table {
    width: 80%;
    margin: 20px auto;
}
