$brand-primary: #3ab795;
$navbar-height: 50px;

div.action {
    margin: 10px 0px;
    float: right;
}

.icon {
    font-size: 120%;
    &:hover {
        text-decoration: none;
    }
}

div.flash {
    position: absolute;
    z-index: 5;
    width: 100%;
}
