$brand-primary: #3ab795;
$navbar-height: 50px;

img.nav-avatar {
    width: 20px;
}

div.wrapper {
    position: relative;
    margin: 0px auto;
    padding-top: 100px;
    width: 50%;
}

.marketing1 {
    background: url('/welcome2.jpeg');
    background-position: -151px;
}

.marketing2 {
    background: url('/welcome1.jpeg')
}

.marketing1, .marketing2 {
    background-size: cover;
    height: 100vh; 
    margin-top: -#{$navbar-height};
    color: $brand-primary;
    position: relative;
    text-align: center;
}

div.filler {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.31) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0.31)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.31) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.31) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.31) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.31) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

div.more {
    text-align: left;
    margin-top: 20px;
    display: none;
}

div.more-button {
    margin: 20px auto;
    border: 1px solid;
    width: 6%;
    border-radius: 50%;

    &:hover {
        opacity: 0.5;
    }
}
