// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.profile-avatar {
    max-width: 80%;
}

div.profile-description {
    margin-right: 50px;
}

div#audioplayer {
    width: 400px;
    height: 120px;
    background-color: grey;
}
