// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$highlight-color: #a3d166;
$brand-primary: #3ab795;
$organizer-badge-color: darken($highlight-color, 20%);
$performer-badge-color: darken($brand-primary, 40%);
$event-badge-color: #dc7100;
$audio-track-color: darken($brand-primary, 20%);

div.profile-description {
    margin-right: 50px;
}

div#audioplayer {
    padding: 8px;

    progress {
        width: 100%;
        height: 5px;
        background-color: white;
    }
}

.audio-player-label {
    margin-bottom: 0px;
}

div.track {
    font-size: 90%;
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $audio-track-color;

    &:hover {
        background-color: lighten($brand-primary, 10%);
        color: white;
        cursor: pointer;
    }
}

.track-playing {
    background-color: $brand-primary;
}

div#dashboard {
    margin-bottom: 30px;
}

.organizer-badge {
    &:before {
        content: "organizer";
    }
    border: 1px solid $organizer-badge-color; 
    color: $organizer-badge-color;
}

.performer-badge {
    &:before {
        content: "performer";
    }
    border: 1px solid $performer-badge-color; 
    color: $performer-badge-color;
}

.event-badge {
    &:before {
        content: "event";
    }
    border: 1px solid $event-badge-color; 
    color: $event-badge-color;
}

.resource-badge {
    font-size: 0.9rem;
    padding: 4px 12px;
    opacity: 0.8;
    margin: 10px 0px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

div.edit {
    margin: 10px 0px;
}

.audio-wrapper, .video-wrapper, .description-wrapper {
    margin: 20px 0px;
}

#website-link {
    margin-bottom: 10px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
} 

.embed-container {
    iframe, object, embed {
          position: absolute;
          top: 0; left: 0;
          width: 100%;
          height: 100%;
    }
}
