<p><%= I18n.t :devise_mailer_confirmation_greetings, :email => @email %></p>

<p><%= I18n.t :devise_mailer_confirmation_message %></p>

<p><%= link_to I18n.t(:devise_mailer_confirm_link), confirmation_url(@resource, confirmation_token: @token) %></p>
