<p><%= I18n.t :devise_mailer_reset_greetings, :email => @resource.email %></p>

<p><%= I18n.t :devise_mailer_reset_message %></p>

<p><%= link_to I18n.t(:devise_mailer_reset_link), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t :devise_mailer_reset_warning %></p>
