<p><%= I18n.t :devise_mailer_reset_greetings, :email => @resource.email %></p>

<p><%= I18n.t :devise_mailer_unlock_message %></p>


<p><%= link_to I18n.t(:devise_mailer_unlock_link), unlock_url(@resource, unlock_token: @token) %></p>
