<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Discover
                <% if @current_location %>
                    <p>
                    <small>
                        This stuff is happening around <%= @current_location.place_name %>.
                    </small>
                    </p>
                <% end %>
            </h3>

        </div>
    </div>

    <% if current_user.location_id %>
    <div class="row">
        <div class="col-md-6">
            <h4>Events</h4>
            <%= render "events/event_mini_list", events: @events_nearby_upcoming %>
        </div>

        <div class="col-md-6">
            <h4>Users</h4>
            <%= render "users/users_mini_list", users: @users_nearby %>
        </div>
    </div>
    <% else %>
        <div class="row">
            <div class="col-md-12">
                <em>Fill out your location in your user profile to see any info.</em>
                <%= link_to("User profile", user_path(current_user.id)) %>
            </div>
        </div>
    <% end %>
</div>
