<div class="row marketing">

    <% unless user_signed_in? %>
    <div class="col-lg-6">
      <h4>I want to organize</h4>
      <p>Become an event organizer, get great performers at no price.</p>
      <%= render "shared/organizer_button" %>
    </div>

    <div class="col-lg-6">
      <h4>I want to perform</h4>
      <p>Get an exposure and gain new fans.</p>
      <%= render "shared/performer_button" %>

    </div>
    <% end %>
</div>
