<div class="container-fluid">
    <div class="row">

        <% unless user_signed_in? %>
        <div class="col-md-6 marketing1">

                <div class="filler"></div>
                <div class="wrapper">
                  <h4>I want to organize</h4>
                  <p>Provide the best entertainment.</p>
                  <%= render "shared/organizer_button" %>

                  <div class="more-button" id="show-organizer-more">?</div>

                    <div class="more" id="organizer-more">
                        <p class="more">How does it work?</p>
                        <ol>
                            <li>Select the performer your like.</li>
                            <li>Send them an invitation.</li>
                            <li>Wait for the response.</li>
                            <li>Provide great backstage and refreshments if possible.</li>
                        </ol>
                    </div>

                </div>


        </div>

        <div class="col-md-6 marketing2">

                <div class="filler"></div>
                <div class="wrapper">
                  <h4>I want to perform</h4>
                  <p>Get more fans and exposure.</p>
                  <%= render "shared/performer_button" %>

                      <div class="more-button" id="show-performer-more">?</div>

                    <div class="more" id="performer-more">
                        <p class"more">How does it work?</p>
                        <ol>
                            <li>Find nearby events.</li>
                            <li>Send invitation to the organizer.</li>
                            <li>Wait for the response.</li>
                            <li>Do a great performance.</li>
                        </ol>
                    </div>

                </div>

        </div>
        <% end %>

    </div>
</div>
